.lift {
  height: 80px;
  width: 60px;
  background-color: black;
  margin: 0px 10px;
}

.hidden {
  display: none;
}

.floor-wrapper {
  display: flex;
  justify-content: flex-start;
  height: 80px;
  padding: 16px 0px;
  border-bottom: 1px solid black;
  overflow-x: auto;
}

.floor-wrapper .lifts-wrapper {
  display: flex;
  justify-content: flex-start;
}
